/* You can add global styles to this file, and also import other style files */
html {
  font-family: sans-serif;
}

body {
  background: radial-gradient(circle at top left, #181023, #0b0519);
  color: #c3b3d8;
  font-family: "Siska", Poppins Light, sans-serif;
  font-size: 24px;
  margin: 0;
  background-color: #1e1d20;  
}